<div class="pokemon">
  <form action="/pokemons/<%= @pokemon.id %>" method="post">
    <input type="hidden" name="_method" value="put">

    <label>Name:</label>
    <input type="text" name="pokemon[name]" value="<%= @pokemon.name %>">
    <label>Image URL:</label>
    <input type="text" name="pokemon[img_url]" value="<%= @pokemon.img_url %>">
    <label>Type:</label>
    <input type="text" name="pokemon[poke_type]" value="<%= @pokemon.poke_type %>">
    <label>CP:</label>
    <input type="text" name="pokemon[cp]" value="<%= @pokemon.cp %>">
    <input type="submit" value="Update Pokémon">
  </form>

  <h2>Delete Pokémon</h2>
  <form action="/pokemons/<%= @pokemon.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Destroy Pokémon">
  </form>
</div>
