<div class="pokemon">
  <form action="/trainers/<%= @trainer.id %>" method="post">
    <input type="hidden" name="_method" value="put">

    <label>Name:</label>
    <input type="text" name="trainer[name]" value="<%= @trainer.name %>">
    <label>Level:</label>
    <input type="text" name="trainer[level]" value="<%= @trainer.level %>">
    <label>Team ID:</label>
    <input type="text" name="trainer[team_id]" value="<%= @trainer.team_id %>">
    <label>Image URL:</label>
    <input type="text" name="trainer[img_url]" value="<%= @trainer.img_url %>">
    <input type="submit" value="Update Trainer">
  </form>

  <h3>Delete Trainer</h3>
  <form action="/trainers/<%= @trainer.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="DESTROY TRAINER">
  </form>
</div>
